.menu-bar {
  text-align: center;
  background-color: #0d685e;
  color: #fff;
  margin: 0;
  padding: 0.5%;
}

.menu-bar li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.menu-bar a {
  text-decoration: none;
  padding: 5px 8px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  transition: 0.5s;
  text-shadow: -1px 1px hsl(0deg 0% 50% / 90%);
}

.menu-bar a:visited {
  color: #fff;
}

.menu-bar a:hover,
.menu-bar a.active {
  color: #0d685e;
  background-color: #fff;
  border-radius: 3px;

  transform: translateY(-5px);
}
